{% extends "base.html" %}

{% block css %}
    <!-- profileformcss -->
    <link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
    <h1> Profile </h1>
    <div class="profile">
        <div class="profile-image">
            {% if profile.pic %}
                <img src="{{ url_for('static',filename="upload/"+profile.pic)}}">
            {% else %}
                <img src="{{ url_for('static',filename="upload/default-profile.jpg") }}">
            {% endif %}
        </div>
        <div class="profile">
            <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
            <p><bold>Gender:</bold> {{ profile.gender }}</p>
            <p><bold>Profile Created On:</bold> {{ profile.created }}</p>
            <hr/>
            <p><bold>UserID:</bold> {{ profile.id }}</p>
            <p><bold>Location:</bold> {{ profile.location }}</p>
            <p><bold>E-mail:</bold> {{ profile.email}}</p>
            <p><em>{{ profile.bio }}</em></p>
        </div>
    
        <div class="profile-requests">
            <form action="{{ url_for('userprofile',userid=profile.id) }}" method="get">
                <button class="btn btn-sm btn-warning submit-btn" type="submit"> GET </button>
            </form>
    
            <form action="{{ url_for('userprofile',userid=profile.id) }}" method="post" enctype="application/json">
                <button class="btn btn-sm btn-info submit-btn" type="submit"> POST </button>
            </form>
        </div>
    </div>
{% endblock %}