{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">  
{% endblock %}

{% block main %}
    <h1> Profile </h1>
    
    <div class="profile">
        <div class="profile-image">
            {% if  profile.pic %}
                <img src="{{ url_for('static', filename='uploads/'+profile.pic)}}">
            {% else %}
                <img src="{{ url_for('static',filename='uploads/'+default-profile.jpg) }}">
            {% endif %}
        </div>

        <div class="top-profile">
            <h5><bold>{{ profile.first_name }} {{ profile.last_name }}</bold></h5>
            <hr>
            <p><i class="fas fa-envelope"> {{ profile.email}}</i></p>
            <p><i class="fas fa-globe">  {{ profile.location }}</i></p>
            <p><i class="far fa-calendar-alt"> Joined on {{ profile.created }}</i></p>
        </div>
        <div class="bottom-profile">
            <h6><bold>About Me:</bold></h6>
            <br>
            <p>{{ profile.bio }}</p>
        </div>
    
        <div class="buttons">
            <button class="message" type="submit"> Send Message </button>
            <button class="follow" type="submit"> Follow </button>
        </div>
    </div>
{% endblock %}